#!/bin/bash
echo "{{ my_names }}">> /tmp/joy.txt
echo "{{ my_age }}">> /tmp/joy.txt
echo "{{ my_salary }}">> /tmp/joy.txt
echo "{{ my_designation }}">> /tmp/joy.txt
echo " {{ my_residence }}" >> /tmp/joy.txt

hi everyone.
